<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">    
   <servlet>
        <servlet-name>Echoing Servlet</servlet-name>
        <servlet-class>de.htw.ai.kbe.myFirstServlet.EchoServlet</servlet-class>
        <init-param>
            <param-name>signature</param-name>
            <param-value>"Hello there!"</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Echoing Servlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
</web-app>
